<ion-content>
  <div class="gray">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark" text="Minha conta" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
    </ion-toolbar>
    <div class="form">
      <div class="divAnunciar">
        <ion-button class="anunciar" [routerLink]="['/announce']">
          <ion-label>
            <h3>Anunciar</h3>
          </ion-label>
        </ion-button>
      </div>

      <div class="divCompras">
        <ion-label color="medium">Compras</ion-label>
        <div class="divOptpadding">
          <ion-label>Minhas compras</ion-label>
        </div>
      </div>

      <div class="divVendas">
        <ion-label color="medium">Vendas</ion-label>
        <div class="divOptpadding">
          <ion-label>Meus anúncios</ion-label>
          <p>
          <ion-label>Minhas vendas</ion-label>
          <p>
        </div>
      </div>

      <div class="divConfiguracao">
        <ion-label color="medium">Configuração</ion-label>
        <div class="divOptpadding">
          <ion-label>Meus dados</ion-label>
          <p>
          <ion-label>Pagamentos</ion-label>
          <p>
          <ion-label>Privacidade</ion-label>
          <p>
          <p (click)="presentAlert()">Sair</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>