<ion-content *ngIf="fireAuth.user | async as user">
  <div class="white">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark" text="Anunciar" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
    </ion-toolbar>
    <div class="form">
      <ion-label color="dark"><h1>O que você esta Anunciando?</h1></ion-label>
      <div class="formCadAnuncio">
        <ion-label color="dark" position="floating">Titulo:</ion-label>
        <p>
        <ion-item>
          <ion-input #titulo></ion-input>
        </ion-item>
        <p>
        <ion-label color="dark" position="floating">Descrição:</ion-label>
        <p>
        <ion-item>
          <ion-textarea #descricao placeholder="Type something here" [autoGrow]="true">
          </ion-textarea>
        </ion-item>
        <p>
          <ion-label color="dark" position="floating">Categorias:</ion-label>
        <p>
        <div class="shadow">
          <ion-radio-group (ionChange)="checkValue($event)" #categoriaAnun [(ngModel)]="listCat" *ngFor="let categoria of categorias | async">
            <ion-item class="category">
              <ion-radio slot="start" value="{{categoria.id}}"></ion-radio>
              <ion-label>
                <h3>{{categoria.nome}}</h3>
              </ion-label>
            </ion-item>
          </ion-radio-group>
          
        </div>
        <p>
          <ion-label color="dark" position="floating" >Tipo:</ion-label>
        <p>
        <ion-item>
          <ion-input #tipo></ion-input>
        </ion-item>
        <p>
        <ion-label color="dark" position="floating">Preço (R$):</ion-label>
        <p>
        <ion-item>
          <ion-input type="Titulo" #preco></ion-input>
        </ion-item>
        <p>
          <ion-label color="dark" position="floating">Imagens (Max: 5):</ion-label>
        <p>
        
          <div>
            <!-- colocar a imagem -->
            
          <span *ngIf="imagemProd?.length"><img [src]="imagemProd" alt=""></span>
            <input type="file" (change)="uploadPhoto($event)" >
          </div>
        <p>
        <ion-label color="dark" position="floating">Endereço:</ion-label>
        <p>
        <ion-item>
          <ion-input #endereco></ion-input>
        </ion-item>
        <p>
        <ion-button expand="block" class="b-enviarAnun" (click)="anunciar(titulo, descricao, tipo, preco, endereco, user.uid)">Enviar anúncio</ion-button>
      </div>
    </div>
  </div>
</ion-content>