<ion-content>
  <div class="gray">
    <ion-toolbar>
      <ion-avatar slot="start" [routerLink]="['/home']">
        
      </ion-avatar>
      <ion-searchbar placeholder="Estou buscando..."></ion-searchbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
        <img class="shopping-cart" slot="end" src="/assets/shopping-cart.png" />
      
    </ion-toolbar>
    <div class="form">
      <label>Categorias</label>
      <p>
      <ion-item class="borderOptCategory" button detail="true" *ngFor="let categoria of categorias | async" [routerLink]="['/item-category']">
        <ion-label>
          <h3>{{categoria.nome}}</h3>
        </ion-label>
      </ion-item>

    </div>
  </div>
</ion-content>