<ion-content>
  <div class="gray">
    <ion-toolbar>
      <ion-avatar slot="start">
        
      </ion-avatar>
      <ion-searchbar placeholder="Estou buscando..."></ion-searchbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
        <img class="shopping-cart" slot="end" src="/assets/shopping-cart.png" />
      
    </ion-toolbar>
    <div class="slides01">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide (click)="presentAlert()">
          <img class="img-slides01" src="/assets/slide.png" />
        </ion-slide>

        <ion-slide (click)="presentAlert()">
          <img class="img-slides01" src="/assets/slide.png" />
        </ion-slide>

        <ion-slide (click)="presentAlert()">
          <img class="img-slides01" src="/assets/slide.png" />
        </ion-slide>

        <ion-slide (click)="presentAlert()">
          <img class="img-slides01" src="/assets/slide.png" />
        </ion-slide>
      </ion-slides>
    </div>
    <div class="form">
      <div class="borderOptOfertasTop">
        <ion-label>Ofertas do dia</ion-label>
      </div>
      <div class="ofertas" *ngFor="let produto of produtos | async">
        <img referrerpolicy="no-referrer" [src]="produto.link">
        <div class="infoProduto">
          <ion-label>{{produto.titulo}} {{produto.descricao}}</ion-label>
          <h3>R$ {{produto.preco}}</h3>
        </div>
      </div>
      <div class="borderOptOfertasBottom">
        <p [routerLink]="['/offers']">Ver todas</p>
      </div>
      <ion-label>
        Categorias populares
      </ion-label>
      <ion-grid>
        <div class="category">
          <img class="icon-category" src="/assets/bear.png" />
          <ion-label class="label-category">Brinquedos e hobbies</ion-label>
        </div>
        <div class="category">
          <img class="icon-category" src="/assets/steering-wheel.png" />
          <ion-label class="label-category">Acessórios para Veiculos</ion-label>
        </div>
        <div class="category">
          <img class="icon-category" src="/assets/armchair.png" />
          <ion-label class="label-category">Móvieis</ion-label>
        </div>
        <div class="category">
          <img class="icon-category" src="/assets/console.png" />
          <ion-label class="label-category">Games</ion-label>
        </div> 
      </ion-grid>
      <ion-item class="borderOptCategoriasBottom">
        <p [routerLink]="['/category']">Ver mais categorias</p>
      </ion-item>
    </div>
  </div>
</ion-content>