ion-content{
    .white{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        position: relative;

        ion-toolbar{
            padding: 5px;
            --background: yellow;
            --ion-color-base: transparent !important;
        }
        ion-avatar{
            background: grey;
            height: 40px;
            width: 50px;
        }
        ion-menu-button{
            color: black;
        }
        h1{
            text-align: center;
        }
        .form{
            padding: 15px;
            .anunciar{
                padding: 10px;
                margin-bottom: 2px;
                height: 100px;
                text-align: center;
                height: 80px;
                width: 320px;
            }
        }
        .ofertas{
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
            padding: 20px;
            background: rgb(255, 255, 255);
            margin-bottom: 2px;
            height: 120px;
            width: relative;
            .infoProduto{
                width: 190px;
                float: right;
                font-size: 13px;
            }
            img{
                height: 80px;
                width: 70px;
            }
        }
    }   
}