<ion-content>
  <div class="white">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark" text="Meus anúncios" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
    </ion-toolbar>
    <div class="form">
      <ion-label color="secondary"><h1>Minha lista de anúncios.</h1></ion-label> 
      <ion-button class="anunciar">
        <ion-label>
          <h3>Anunciar +</h3>
        </ion-label>
      </ion-button>    
    </div>
  </div>
</ion-content>