<ion-content>
  <div class="white">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark" text="Nome produto" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
    </ion-toolbar>
    <div class="form" *ngFor="let produto of produtos | async">
      <ion-label color="secondary">Anunciante: {{produto.user}}</ion-label>
      <p>
      <ion-label>{{produto.titulo}}</ion-label>
      <p>
      <ion-label>Publicado em 00/00 às 00:00</ion-label>
      <p>
      <ion-label>cod. {{produto.id}}</ion-label>
      <div class="formImgProduto">
        <div class="slides01">
          <ion-slides [options]="slideOpts">
            <ion-slide (click)="presentAlert()">
              <img referrerpolicy="no-referrer" [src]="produto.link"/>
            </ion-slide>
          </ion-slides>
        </div>
        <p>
        <ion-label color="dark">Preço: R$ {{produto.preco}}</ion-label>
      </div>
      <ion-button class="btnProdutoComprar" [routerLink]="['/confirmation-payment']">Comprar</ion-button>
      <ion-button color="warning" class="btnProdutoCompartilhar">Compartilhar</ion-button>
      <ion-button color="warning" class="btnProdutoFavoritar">Favoritar</ion-button>
      <p>
      <ion-label color="dark">Descrição do produto</ion-label>
      <P>
        <textarea disabled="disabled">{{produto.descricao}}</textarea>
    </div>
  </div>
</ion-content>