ion-content{
    .white{
        background-color: rgb(255, 255, 255);
        background-image: url('/assets/back.png');
        width: 100%;
        height: 100%;
        position: relative;

        ion-toolbar{
            padding: 5px;
            --background: yellow;
            --ion-color-base: transparent !important;
        }
        ion-avatar{
            background: grey;
            height: 40px;
            width: 50px;
        }
        ion-menu-button{
            color: black;
        }
        .form{
            padding-top: 5px;
        }
    }
}