<ion-content>
  <div class="white">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark" text="Pagamentos" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
    </ion-toolbar>
    <div class="form">
      <ion-label>Confirme sua compra</ion-label>
      <p>
      <div class="formDados">
        <ion-label>Entrega</ion-label><p>
        <ion-radio slot="start"></ion-radio>
        <ion-label>Quero entrega pela Empresa</ion-label>
        <p>
        <ion-radio slot="start"></ion-radio>
        <ion-label>Quero retirar com o vendedor</ion-label>
        <p>
        <ion-label>Endereço de entrega</ion-label>
        <p>
        <div class="endereco">
            <img src="/assets/home1.png"/>
          <div class="infoProduto">
            <ion-label>Passagem Bela Vista, 123 C <p></ion-label>
            <ion-label class="bairro">Tenoné, Belém - PA</ion-label>
          </div>
        </div>
        <p>
        <ion-label>Forma de pagamento</ion-label>
        <p>
          <div class="endereco">
            <img src="/assets/credit-card.png"/>
          <div class="infoProduto">
            <ion-label>Cartão<p></ion-label>
            <ion-label class="bairro">Pagamento após recebimento do produto</ion-label>
          </div>
        </div>
      </div>
      <p>
      <div class="formDados">
        <ion-label>Resumo do produto</ion-label>
        <p>
        <div class="resumoProd">
          <img class="imgProd" src="/assets/cadernoCapaDura.jpg"/>
          <div class="infoProduto">
            <ion-label>Tilibra D+ - Caderno Brochura Capa Dura, 1/4 Pequeno, 14x20cm, 96 Folhas, Amarelo</ion-label>
          </div>
          <div class="infoVendedor">
            <ion-label>Vendido por: fulano da silva <P></ion-label>
            <ion-label>CPF 000 *** *** **</ion-label>
          </div>
          <p>
          <ion-label>Produto
          <ion-label class="preco">R$ 20</ion-label>
          </ion-label>
        </div>
      </div>
      <p>
      <ion-label>Total a pagar
        <ion-label class="preco">R$ 20</ion-label>
      </ion-label>
      <p>
      <ion-button>Confirmar pagamento</ion-button>
    </div>
  </div>
</ion-content>